.hide {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#hack {
  cursor: pointer;
}

#search_container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}
.search {
  background: #f4ab37;
  border-color: #c47400;
  border-radius: 40px;
  border-width: 0.2vw;
  max-width: 150px;
  max-height: 25px;
  margin-right: 2vw;
  padding: 8px;
}

img {
  width: 100%;
}

#showedStudents {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#student_article img {
  width: 25%;
  margin: 10px;
}

#house_crest {
  width: 20%;
  max-width: 70px;
}

body {
  background: linear-gradient(
    90deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(30, 30, 30, 1) 50%,
    rgba(5, 5, 5, 1) 100%
  );
}

/*things in header*/
#banner {
  width: 400px;
}

#all_houses img {
  width: 220px;
  align-items: center;
  filter: drop-shadow(1px 2px 3px rgba(255, 255, 0, 0.211));
}

#headline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  color: #f4a237;
  margin-bottom: 10px;
}

h2 {
  font-family: "Cinzel", serif;
  font-weight: 2100;
  font-size: 25px;
  color: #f4ab37;
}

#filterbtns,
#filter_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
}

button:hover,
button:focus,
button:active {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(255, 255, 0, 0.211);
}

#sortingList {
  max-height: 30px;
  min-height: 23px;
  background: #f4ab37;
  border-color: #c47400;
  border-radius: 40px;
  margin: 0.5vw;
  border-width: 0.5vw;
  cursor: pointer;
}

button {
  background-color: #f4ab37;
  border-radius: 40px;
  margin: 0.5vw;
  border-width: 0.5vw;
  border-color: #c47400;
  width: 33%;
  max-height: 70%;
  justify-content: space-between;
  cursor: pointer;
}

button#close {
  background-color: #f4ab37;
  max-width: 50px;
}

.container {
  width: 90vw;
  max-width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border-radius: 20px;
  border-style: solid;
  border-color: #c47400;
  background-color: #202020;
}

#student_article {
  margin: 0.5vw;
  border-color: #0a0a0a;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

/*************************POPUP***********************/

#popup_buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vh;
  background-color: rgb(0, 0, 0, 0.8);
  display: none;
}

#popup_student_pic {
  height: 30%;
  width: auto;
}

#popup article {
  position: relative;
  width: 90vw;
  height: 80vh;
  max-width: 900px;
  margin: 4rem auto;
  flex-wrap: wrap;
  border-radius: 20px;
  border-style: solid;
  border-color: #c47400;
  background-color: #202020;
  padding: 2vw;
}

#close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.hallo {
  background: rgb(171, 99, 135);
}

/*******************TEST**************************/

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogcontent {
  width: 80vw;
  height: 60vw;
  max-width: 500px;
  max-height: 300px;
  margin: 4rem auto;
  flex-wrap: wrap;
  border-radius: 20px;
  border-style: solid;
  border-color: #c47400;
  background-color: #202020;
  padding: 2vw;
}

#dialogcontent p {
  text-align: center;
  color: black;
  font-weight: bolder;
}

#dialogcontent p button {
  font-weight: bolder;
  cursor: pointer;
}

#dialogcontent h2 {
  text-align: center;
}

h3#warning {
  padding-top: 1.5vw;
  font-size: 15px;
  text-align: center;
  color: #a47428;
}

h3#remove {
  text-align: center;
  padding-top: 9vw;
  font-size: 15px;
  color: #a47428;
}

#closebutton_container {
  display: flex;
  justify-content: flex-end;
}

.closebutton {
  color: black;
  border-radius: 5px;
  cursor: pointer;
  max-width: 45px;
}

/*******************FOOTER******************/

.clickedbutton {
  background-color: #a96800;
  filter: drop-shadow(1px 2px 3px rgba(255, 255, 0, 0.211));
}

h1#secret_button {
  font-size: 25px;
  flex-wrap: wrap;
  flex-direction: column;
  color: #a96800;
}

/*--------------------------------MEADIAQUERIES---------------------------------*/

@media screen and (min-width: 627px) {
  #filterbtns,
  #filter_wrapper {
    flex-flow: nowrap;
  }
}

@media screen and (min-width: 700px) {
  #headline img {
    max-width: 400px;
  }

  #all_houses img {
    width: 250px;
  }

  #search_btn {
    margin-right: 3vw;
  }
}

@media screen and (min-width: 910px) {
  h1 {
    font-size: 32px;
  }

  #attending_expelled_buttons {
    padding: 1px;
    margin: 1px;
  }

  button {
    border-width: 0.2vw;
  }

  button.filter {
    width: 90px;
  }

  #all_houses img {
    width: 300px;
  }
}

@media screen and (min-width: 1400px) {
  button.filter {
    width: 120px;
  }

  #sortingList,
  button.filter {
    border-width: 0.3vw;
  }

  .search {
    margin-right: 120px;
  }

  h3#remove {
    padding-top: 40px;
  }
}
